{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@": "./src",
                "@root": "./",
                "@config": "./src/config.js",
                "@middleware": "./src/middleware",
                "@routes": "./src/routes",
                "@utils": "./src/utils",
                "@db": "./src/db",
                "@models": "./src/db/models"
            }
        }]
    ]
}
